
<header class="header">
  <nav class="navbar">
    <div class="navbar__logo">
      <img src="/img/cloud-storage.png" alt="" />
      <a href="/cloud">
        DRIVE
      </a>
    </div>

    <div class="navbar__search">
      <input type="text" name="search" id="" />
    </div>

    <div class="navbar__items">
      <i class="fas fa-user icon"></i>
      <div class="navbar__items__menu">
       user
      </div>
    </div>
  </nav>
</header>
