<aside class="sidebar">
  <div class="sidebar__items">
    <div class="sidebar__items__upload">
      <input type="file" name="file_upload" id="file_upload" />
      <label class="btn-upload-file" for="file_upload">UPLOAD</label>
    </div>
  </div>
</aside>
